body {
    background: white;
    font-family: "Futura", sans-serif;
}
.logo{
     max-width: 180px;
      box-sizing: border-box;
      padding: 10px;
      max-height: 75px;
      width: auto;
      height: auto;
}

.welcome-text {
    background-image: url(imgs/background.webp);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.Titulo-hg {
    background-color: gray;
    opacity: 0.6;
}

.Titulo {
    margin-left: 35%;
}
.badge1 {
    display: inline-block;
    max-width: 150px;
}
.badge2 {
    display: inline-block;
    max-width: 120px;
}
.Titulo-texto {
    color: white;
    opacity: 1;
}

.blurb h2 {
   color: black;
   font-weight: normal;
   font-size: 2.5rem;
}

.blurb p {
    color: black;
    font-weight: lighter;
    font-size: 1.125rem;
    line-height: 2;
}

.obtener {
    text-align: left;
    font-weight: 100;
}

.content {
    margin-top: 100px;
    margin-bottom: 100px;
}

.logo-foot{
    max-width: 488px;
}

.texto-foot{
    font-weight: lighter;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;    
}

#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover {
    color: #5EB3E4;
}

#mainNavbar .navbar-brand {
    color: #EA1C2C;
    font-size: 1.5rem;
}

#headingGroup span {
    color: #EA1C2C;
}

#headingGroup h1 {
    font-weight: 100;
    font-size: 4rem;
}

.navbar.scrolled {
    background: rgb(0,58,112);
    transition: background 500ms;
}

@media (max-width: 1200px) {
    #headingGroup h1 {
        font-weight: 100;
        font-size: 3rem;
    }
    .blurb h2 {
        font-size: 2rem;
    }
}




