body {
    background: white;
    font-family: "Futura", sans-serif;  
}
.logo{
     max-width: 500px;
      box-sizing: border-box;
      padding: 10px;
      max-height: 200px;
      width: auto;
      height: auto;
}

#link {
    color: #F18A00;
}
.btn-verificar {
    color: white;
    background-color: #F18A00;

}

.nav-item-boton {
    margin-left: 25px;
}

.welcome-text::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: rgba(0,0,0,.75); 
    
}

.welcome-text {
    position: relative;
    background-image: url(imgs/background.webp); 
    background-size: cover;
    background-position: center;
    height: 100vh;
}


.Titulo {
    margin-left: 35%;
}
.badge1 {
    display: inline-block;
    max-width: 150px;
}
.badge2 {
    display: inline-block;
    max-width: 120px;
}
.Titulo-texto {
    color: white;
    font-weight: bolder;
    opacity: 1;
}

#titulo-naranja {
    font-size: 2.75rem;
    color: #F18A00;
}

#titulo-celeste {
    font-size: 3rem;
    color: #5EB3E4;
}

#titulo-blanco {
    font-size: 8rem;
}

#titulo-blanco2 {
    font-size: 6rem;
}

.blurb h2 {
   color: #0075C9;
   font-weight: bolder;
   font-size: 2.5rem;
   margin-bottom: 50px;
}

.cuadro-1{
    
}

.cuadro-2{
    background-image: url(imgs/cuadro2.webp);
}

.blurb p {
    color: #828282;
    font-weight: bolder;
    font-size: 1.125rem;
    line-height: 2;
}

.obtener {
     color: #828282;
    text-align: left;
    font-weight: 300;
}

.content {
    margin-top: 100px;
    margin-bottom: 100px;
    height: 800px;
}

.odd {
    margin-left: 100px;
}

.logo-foot{
    max-width: 575px;
}

.texto-foot{
    font-weight: lighter;
}

.gris {
    background-color: #F2F2F2;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 300;    
}

#mainNavbar .nav-link {
    color: white;
    font-weight: 200;
}

#mainNavbar .nav-link:hover {
    color: #5EB3E4;
}

#mainNavbar .navbar-brand {
    color: #EA1C2C;
    font-size: 1.5rem;
}

.navbar-toggler {
        border: none;
}

#headingGroup span {
    color: #EA1C2C;
}

#headingGroup h1 {
    font-weight: 400;
    font-size: 4rem;
}

.navbar.scrolled {
    background: rgb(0,58,112);
    transition: background 500ms;
}




@media (max-width: 1200px) {
    .navbar-collapse {
	max-height: 380px
    }
    .content {
    margin-top: 200px;
    margin-bottom: 200px;
    height: 950px;
}
    nav.navbar{
    background: rgb(0,58,112);
  }
    .logo{
     max-width: 300px;
      box-sizing: border-box;
      padding: 10px;
      max-height: 150px;
      width: auto;
      height: auto;
    }
    .nav-item-boton {
	margin-left: 0px;
	margin-top: 15px;
	margin-bottom: 15px;
}
    #titulo-naranja {
    font-size: 1.4rem;
    color: #F18A00;
    }
    #titulo-celeste {
    font-size: 1.5rem;
    color: #5EB3E4;
    }
    #titulo-blanco {
	font-size: 4rem;
    }

    #titulo-blanco2 {
	font-size: 3rem;
    }
    #headingGroup h1 {
        font-weight: 400;
        font-size: 3rem;
    }
    .blurb h2 {
        font-size: 2rem;
    }
    .odd {
    margin-left: 0px;
}

    .section-foot {
	display: block;
	margin-top: 300px;
	padding-top: 400px;
    }
    .logo-foot{
    max-width: 325px;
    }
}




